
body {
    background-color:  rgb(163, 140, 184);
}

.song-card {
    background-color:#A1CCA5; 
    
}

.film-card {
    background-color:#A1CCA5; 
    
}

.tv-card {
    background-color: #A1CCA5; 
    
}


